@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    *{
        font-family: "Roboto", sans-serif;
        font-weight: bolder;
    }

    body {
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
      background: radial-gradient(circle at bottom, #173354, #0B0C21);
      color: white;
      text-align: center;
      min-height: 100vh;
      background-attachment: fixed;
    }
    
    .logo {
      padding: 15px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .menu {
      display: flex;
      gap: 20px;
    }
    .menu a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      transition: color 0.3s;
    }
    .menu a:hover {
      color: #e62429; /* vermelho Marvel */
    }
    h2 {
      text-align: center;
      margin: 20px 0;
    }

    .grid {
      background-color: #0e2137;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 0px;
      border-radius: 30px;
      padding: 20px;
    }

    .card {
      width: 300px;
      height: 400px;
      margin: auto;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.5);
      transition: transform 0.2s;
    }

    @media screen and (max-width: 1020px) {
      .card {
        flex: 0 0 auto;          /* não cresce nem encolhe */
        width: 80px;            /* largura fixa */
        height: auto;
        aspect-ratio: 2 / 3;     /* mantém proporção pôster */
        border-radius: 12px;
        overflow: hidden;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;       /* garante que preencha sem distorcer */
        display: block;
      }

      .grid {
        display: flex;
        flex-direction: row;
        gap: 12px;
        overflow-x: auto;
        padding: 15px;
        background-color: #0e2137;
        border-radius: 20px;
      }
    }



    .card:hover {
      transform: scale(1.05);
    }
    .card img {
      width: 100%;
      display: block;
    }

    .search-container {
  text-align: center;
  margin: 20px;
  margin-top: 100;
}

#search-bar {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 10;
}

