@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    *{
        font-family: "Roboto", sans-serif;
        font-weight: bolder;
    }

    body {
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
      background: radial-gradient(circle at bottom, #173354, #0B0C21);
      color: white;
      text-align: center;
      min-height: 100vh;
      position: relative;
    }

    .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15x;
    }

    .title {
    font-size: 22px;
    margin-left: 0px;
    }

    @media screen and (max-width: 1020px) {
  .filme {
    position: relative;
    width: 100%;         /* ocupa toda a largura */
    padding-top: 56.25%; /* mantém 16:9 (9/16 = 0.5625) */
    overflow: hidden;
    border-radius: 12px;
    background: black;
  }

  .filme iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   /* largura total */
    height: 100%;  /* altura proporcional */
    border: none;
  }
}

    